<h1>About Us</h1>

<!-- // serving actual path -->
<!-- <img src="house.jpg" alt ="Frog" width="300" height="300"> -->

<!-- //serving a virtual path -->
<img src="/static/house.jpg" alt ="house" width="300" height="300">